.mainDiv {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* 	background-image: url("images/astro.jpg"); */
	/* 	background-position: center; */
	/* 	background-repeat: no-repeat; */
	/* 	background-size: cover; */
}

.loginLayout {
	display: table-cell;
	vertical-align: middle;
}

.login-form {
	border: 1px solid;
	padding: 50px;
	max-width: 340px;
	margin: auto;
	border-radius: 50px;
	background: #c8c8c8;
	height: 420px;
}

.signup-form {
	border: 1px solid;
	padding-top: 46px;
	padding-left: 0px;
	max-width: 530px;
	margin: auto;
	border-radius: 50px;
	background: #c8c8c8;
	height: 420px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}