.mainDiv {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* 	background-image: url("images/astro.jpg"); */
	/* 	background-position: center; */
	/* 	background-repeat: no-repeat; */
	/* 	background-size: cover; */
}

.loginLayout {
	display: table-cell;
	vertical-align: middle;
}

.login-form {
	border: 1px solid;
	padding: 50px;
	max-width: 340px;
	margin: auto;
	border-radius: 50px;
	background: #c8c8c8;
	height: 420px;
}


.password-lost-form {
	border: 1px solid;
	padding: 30px;
	max-width: 400px;
	margin: auto;
	border-radius: 20px;
	background: #c8c8c8;
	height: 200px;
}

/* .signup-form {
	border: 1px solid;
	padding: 50px;
	max-width: 450px;
	margin: auto;
	border-radius: 50px;
	background: #c8c8c8;
	height: 420px;
} */


.signup-form{
	border: 1px solid;
	padding: 50px;
	max-width: 530px;
	min-width: 530px;
	margin: auto;
	border-radius: 50px;
	background: #000000;
	height: 430px;
/* 	padding-right: 20px; */
/* 	padding-bottom: 20px; */
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}