.mainDiv {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
/* 	background-image: url("images/astro.jpg"); */
/* 	background-position: center; */
/* 	background-repeat: no-repeat; */
/* 	background-size: cover; */
}

.loginLayout {
	display: table-cell;
	vertical-align: middle;
}

.login-form {
	border: 1px solid;
	padding: 50px;
	max-width: 340px;
	margin: auto;
	border-radius:50px;
	background: antiquewhite;
	height:420px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}